@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
    background-color: #bda640;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: wheat;
}




.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-image: url(/CV/ios-13-stock-ipados-red-black-background-amoled-ipad-hd-1080x1920-792\ \(1\).jpg);
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #5477c2;
    position: relative;
    height: 590px;
}

.upper {

    height: 100px;

}



.user {
    position: relative;
    margin-top: 50px;
}


.profile img {
    /* background-image: url(/CV/png.jpg); */
    position: absolute;
    top: -58px;
    left: 38%;
    height: 110px;
    width: 110px;
    border: 3px solid #fff;
    border-radius: 50%;
}

/* .profile img {
    width: 150px;
    margin-top: -13px;
    margin-left: -21px;
} */

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin-top: 110px;
}
h5{
    text-align: center;
    margin-top: -20px;
}

.Quote {
    margin-left: 55px;
    font-size: 18px;
}
p{
    margin-top: -10px;
}
h3{
    text-align: center;
    color: lightpink;
    font-size: 17px;
}
#container {
    display: flex;
    flex-wrap: nowrap;
}

#container>div {
    /* background-color: springgreen; */
    font-size: 15px;
    margin: 5px;
    padding: 4px;
    width: 100px;

}

.stats span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}
em{
    color: wheat;
}
.social{
    display:flex ;
}
ul{
    margin-left: 35px;
    margin-top: 0;

}

ul li{
    position: relative;
    display: block;
    color: yellow;
    font-size: 30px;
    height: 30px;
    width: 30px;
    background-color: black;
    line-height: 60px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

footer{
    margin-top: -30;
    text-align: center;
    color: blanchedalmond;
    bottom: 0;
}